* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: linear-gradient(to right, #263741 0%, #364653 45%, #5A6C7A 100%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FF86FF;
  font-size: 4rem;
  font-weight: 600;
}
